registry=https://pkgs.dev.azure.com/CluedIn-io/_packaging/CluedIn/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/CluedIn-io/_packaging/CluedIn/npm/registry/:username=CluedIn-io
//pkgs.dev.azure.com/CluedIn-io/_packaging/CluedIn/npm/registry/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/CluedIn-io/_packaging/CluedIn/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/CluedIn-io/_packaging/CluedIn/npm/:username=CluedIn-io
//pkgs.dev.azure.com/CluedIn-io/_packaging/CluedIn/npm/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/CluedIn-io/_packaging/CluedIn/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
